.page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.navbar_background {
    background: radial-gradient(circle, #009300 0%, #000d00 100%);
}

.content_container {
    margin: 162px auto;
}

.star{
    color: #F6BC3E
}
.name{
    font-family: "Roboto Slab", serif;
}

.category, .status, .location{
    margin-left: 22px; 
    font-family: "Poppins", serif;
    font-size: 17px; 

}

@media (min-width: 600px) {
    .category, .status, .location{
        font-size: 23px;     
    }
}

@media (min-width: 990px) {
    .category, .status, .location{
        font-size: 28px;     
    }
}

.collectors-value{
    margin-left: 22px; 
    font-family: "Poppins", serif;  
}

.company{
    font-family: "Righteous", cursive;
}

.descreption{
    font-family: "Poppins", serif;
}

.details {
    display: none;
}

.details.active {
    display: block;
  }

