*,
*:after,
*:before {
	box-sizing: border-box;
}

a {
    text-decoration: none !important;
  }
  

  body {
    // min-height: 100vh;
    // font-family:  'Inter', sans-serif, system-ui;
    // background: var(--surface-2);
    // display: grid;
    // justify-items: center;
    // align-content: start;
    overflow-x: hidden;
    background-color: #e9e4e4 !important;
  }