.content img {
  width: 23px;
  height: 23px;
}

.parallax {
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
}

.parallax-caption {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.parallax-caption h3 {
  font-size: 2rem;
  font-weight: bold;
}

.parallax-caption p {
  font-size: 1.2rem;
}

.parallax-1 {
  background-image: url(../img/kronkorken-herstellung.jpg);
}

.parallax-2 {
  background-image: url(../img/geschichte-kronkorken.jpeg);
}

.parallax-3 {
  background-image: url(../img/upcycling-kronkorken.jpg);
}


@media (max-width: 550px) {
  .parallax-2 {
    background-position: -4px 43px;
  }
}
