.headline_section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.headline_section .row {
    align-items: center;
}

.headline_section .detail-box {
    color: #ffffff;
}

.headline_section .detail-box h1 {
    font-family: "Righteous", cursive;
    padding-bottom: 15px;
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
}

.headline_section .detail-box h1 span {
    font-size: 2rem;
}

.break-word {
    word-break: break-word;
    hyphens: auto;
  }

p {
    font-family: "Poppins", serif;
}

.headline_section .detail-box .btn-box {
    display: flex;
    margin-top: 25px;
}

.btn-box {
    display: flex;
    flex-wrap: wrap;
    margin: 35px -5px 0 -5px;
}

.headline_section .detail-box .btn-box .btn-1 {
    display: inline-block;
    padding: 12px 45px;
    color: #000000;
    transition: all 0.3s;
    border-radius: 3px;
    text-transform: uppercase;
}

.headline_section .detail-box .btn-box .btn-1:hover {
    color: whitesmoke;
}

.headline_section .detail-box .btn-box a {
    width: auto;
}

.btn-box .btn-1 {
    display: inline-block;
    padding: 12px 45px;
    background-color: #ffffff;
    color: #000000;
    transition: all 0.3s;
    border: 1px solid #ffffff;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Righteous", cursive;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.btn-box a {
    width: 175px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
}

.btn-box .btn-1:hover {
    background-color: transparent;
    color: #ffffff;
    box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
  }
  

a, a:hover, a:focus {
    text-decoration: none;
}

.headline_section .detail-box {
    color: #ffffff;
}


@media (max-width: 767px) {
    .headline_section .detail-box {
        text-align: center;
        margin-bottom: 45px;
    }

    .headline_section .detail-box .btn-box {
        justify-content: center;
    }
}

@media (max-width: 992px) {
    .headline_section {
        padding: 75px 0;
    }

    .headline_section .detail-box h1 {
        font-size: 1.2rem;
    }

    .headline_section .detail-box h1 span {
        font-size: 2.5rem;
    }

   
}

