.headline_section .headline{
font-size: 21px !important;
}

.slider_section {
    position: relative;
    color: #ffffff;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}



.slider_section #customCarousel1 {
    width: 100%;
}

.slider_section .container {
    position: relative;
    z-index: 2;
    top: -27px;
}

.slider_section .row {
    align-items: center;
}



.slider_section .detail-box h1 {
    font-weight: bold;
    font-size: 3.5rem;
    font-family: 'Poppins', sans-serif;
}


.slider-cap {
    width: 165px;
    margin-top: 33px;
}

@media (min-width: 770px) {
    .slider-cap{
        width: 263px;
    }
}



.slider_section .carousel-indicators {
    position: relative;
    margin: 0;
    list-style-type: none;
    top: -42px;
}

.slider_section .carousel-indicators li {
    text-indent: unset;
    border: none;
    background-color: #252525;
    opacity: 1;
    width: 12px;
    height: 12px;
    transition: all .2s;
}

.slider_section .carousel-indicators li.active {
    background-color: #279112;
    width: 25px;
}

@media (min-width: 767px) {
   
.slider_section .carousel-indicators {
    position: unset;  
}
}